<div class="content">
<button ng-click="getSubscribers()">Show all Subscribers!</button> 
<button ng-click="addSubscribers()">Add 2000 random Subscribers!</button>
<button ng-click="getSubscribersCache()">Show cache data!</button>
<button ng-click="deleteAll()">Delete all Subscribers!</button>
<button ng-click="deleteCache()">Delete cache data!</button>

<br>
<br>
      <form name="SearchForm" ng-submit="searchSubscriber()" novalidate ng-cloak>
      <input type="text" name="msisdn" placeholder="search msisdn" ng-model="searchedMsisdn" ng-required="true"/>
        
          <md-radio-group ng-model="option">

	 <md-radio-button ng-model="testCheck.button0"
      					value="0" class="md-primary" >Cache & Db</md-radio-button>
      <md-radio-button ng-model="testCheck.button1"
      					value="1" >Database</md-radio-button>
      <md-radio-button ng-model="testCheck.button2"
     					value="2"> Cache </md-radio-button>

    </md-radio-group>
        <input type="submit" value="Send" ng-disabled="SearchForm.$invalid"/>
      </form>
      
  <ul id="subscriber-list" ng-show="deleted">
  	<li ng-repeat="subscriber in subscribers">
  		<h3>{{subscriber.msisdn}}</h3>
  			<p> {{subscriber.groupProfile + ': ' + subscriber.startDate + ' - ' + subscriber.endDate}}
  			</p>
  	  <div class="remove" ng-click= "removeSubscriber($index)">Remove</div>
  	</li>
  </ul>
  
  
 <div id="subscriber-list" ng-hide="!found">
  	<h3>{{subscriberX.msisdn}}</h3>  
  	 <p> {{subscriberX.groupProfile}}: {{subscriberX.startDate}}  - {{subscriberX.endDate}}
</p>
    	  <div class="remove" ng-click= "removeSubscriberX(subscriberX)">Remove</div>
  
  </div>
   </div>