<div class="content">
<br>
<br>
<h1>Update Users</h1>
 	 <button ng-init="formAdd=false" ng-click="formAdd=!formAdd">Add new user</button>
      <button ng-init="formUpdate=false" ng-click="formUpdate=!formUpdate">Update existing user</button>

  <form ng-submit="addUser()" ng-show="formAdd">
        <input type="text" placeholder="msisdn" ng-model="fields.msisdn">
        <input type="text" placeholder="groupProfile" ng-model="fields.groupProfile">        
        <input type="text" placeholder="startDate" ng-model="fields.startDate">
        <input type="text" placeholder="endDate" ng-model="fields.endDate">
        
        <input type="submit" value="Add new User">
      </form>
      
  <form ng-submit="updateUser()" ng-show="formUpdate">
        <input type="text" placeholder="msisdn" ng-model="updatedMsisdn">
        <input type="text" placeholder="field" ng-model="updatedField">
        <input type="text" placeholder="value" ng-model="updatedValue">
        
        <input type="submit" value="Update User">
      </form>